@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #FAF3F3;
  --color-primary: #A8DADC;
  --color-secondary: #457B9D;
  --color-accent: #F4A261;
  --color-text: #1D3557; 
  --color-white: #ffffff;
  --color-black:#000;
}
.theme-primary-bg {
  background-color: var(--color-background);
}
.theme-secondary-bg{
  background-color: var(--color-text);
}
.text-background {
  color: var(--color-background);
}

.text-primary {
  color: var(--color-primary);
}

.theme-secondary {
  background-color: var(--color-secondary);
}

.text-accent {
  color: var(--color-accent);
}

.text-text {
  color: var(--color-text);
}

.text-white {
  color: var(--color-white);
}
/* Border Utility Classes */
.border-primary {
  border: 1px solid var(--color-primary);
}

.border-secondary {
  border: 1px solid var(--color-secondary);
}

.border-accent {
  border: 1px solid var(--color-accent);
}
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
  .vegas-theme {
    @apply bg-gradient-to-r from(var(--vegas-red)) via(var(--vegas-black)) to(var(--vegas-green)); 
  }
}